h4 {
    margin-top: 25px;
    padding: 15px;
}

.vCenter {
    position: relative;
    top: 8%;
}

.mainContainer {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.main {
    width: 100%;
    max-width: 550px;
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
}

.landingImg {
    width: 100%;
}

.landingStar {
    width: 18%;
    position: absolute;
    top: 1%;
    left: 20.5%;
}
